@page "/medicos"

@inject IMedicoRepository repository

@* Para que os componetntes sejam interatico*@
@rendermode InteractiveServer

<h3>Medicos</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>CRM</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
       @*No componente*@
       <MedicoTemplateList Medicos="@Medicos" DeleteCallback="Delete"/>
    </tbody>
</table>

@code {
    public List<Medico>? Medicos;

    protected override async Task OnInitializedAsync()
    {
        Medicos = await repository.GetAllAsync();
    }

    public void Delete(Medico medico)
    {
        Medicos?.Remove(medico);
    }
}
