@page "/medicos"

@inject IMedicoRepository repository

@* Para que os componetntes sejam interatico*@
@rendermode InteractiveServer

<h3>Medicos</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>CRM</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var medico in Medicos)
        {
            <tr>
                <td>@medico.Id</td>
                <td>@medico.Nome</td>
                <td>@medico.Crm</td>
                <td><button class="btn btn-outline-danger" @onclick="@(()=>Delete(medico))">Deletar</button></td>
            </tr>
        }
    </tbody>
</table>

@code {
    public List<Medico>? Medicos;

    protected override async Task OnInitializedAsync()
    {
        Medicos = await repository.GetAllAsync();
    }

    public void Delete(Medico medico)
    {
        Medicos?.Remove(medico);
    }
}
